.card_group:after,.card_group:before {
    content:" ";
    display:table;
}
.card_group:after{
    clear:both;
}
.card_group li{
    float:left;
    vertical-align:top
}
.card_group {
    list-style: none;
    margin: 0;
    padding: 0;
}
.card {
    width: 290px;
    margin: 20px 0 0 10px;
    list-style: none;
}
.card:nth-child(4n+1) {
    clear: left;
    margin-left: 0;
}
.card div {
    background: #fff;
    min-height: 350px;
    box-shadow: 0 0px 1px rgba(0,0,0,.2),0 3px 3px rgba(0,0,0,.15);
    transition: box-shadow linear .3s;
}

.card div:hover {
    box-shadow: 0 7px 18px 0.5px rgba(0,0,0,.28);
    opacity:.95;
    text-decoration: none;
}
.card div:focus {
    text-decoration: none;
    outline: none;
}
.card img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.card .card_details {
    padding: 15px 15px;
}
.card .card_title, .card .card_title_img {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #16222d;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 10px;
    min-height: 60px;
}
.card .card_title_img {
    min-height: 133px;
}
.card .card_body {
    color: #333;
    display: inline-block;
    margin: 3px 0 10px;
    line-height: 1.4;
    min-height: 205px;
}

.card .card_footer {
    min-height: 39px;
}
.card .card_footer a {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}

.card_flex_display {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: column;
    color: #8190a1;
}
.card_flex {
    flex: 1;
    min-width: 1px;
}

@media(max-width: 1440px) {
    .card_group { 
        text-align:left
    }
    .card_group li{
        float:none;
        display:inline-block
    }
    .card {
        clear: left;
        margin-left: 15px !important;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .card_group {
        text-align: center;
    }
}

@media (max-width:600px){
    .card div{
        min-height:290px
    }
    .card {
        margin-left: 14px !important;
    }
}
@media (max-width: 480px) {
   .card {
        margin-left: 0px !important;
    }
}